@font-face {
  font-family: 'Pieces of Eight Cyrillic AA';
  src: url('../fonts/PiecesofEightCyrillicAA.woff2') format('woff2'),
      url('../fonts/PiecesofEightCyrillicAA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
