.footer{
  width: 100%;
  height: 120px;
  background-image: url('https://res.cloudinary.com/dvbkndvl0/image/upload/v1617797933/pirates/sand_p9vpbh.jpg');
  background-size:cover;
  margin-top: auto;
  display: flex;
  justify-content: space-around;
}

.chest{
  width: 220px;
  height: 220px;
  margin-top: -105px;
}

.mark{
  width: 80px;
  height: 80px;
  align-self: center;
}

.about-capitan{
  font-size: 25px;
  text-align: center;
  color: rgb(87, 43, 11);
  align-self: center;
}
