.header {
  &__wrapper {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    height: $header-heght;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #fff;
    background-color: #000;
  }
  &__btn-block {
    text-align: center;
    margin: 0 2rem;
    padding: 2em;
    height: 100%;
    border-radius: 1rem;
    color: #fff;
    & > div > span {
      color: #fff;
    }
    &:hover {
      background-color: #fff;
      transition: all 0.4s ease-in-out;
      transform: rotate(360deg);
      & > div > span {
        transition: 1s;
        color: #000;
      }
    }
  }
  &__btn {
    font-size: 1.5rem;
  }
}
