body{
  font-family: 'Pieces of Eight Cyrillic AA';
}

*, *::before, *::after{
  box-sizing: border-box;
}

ul, li{
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
}

button{
  padding: 0;
}

img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

p{
  padding: 0;
  margin: 0;
}