.captain__inf {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid $mainColor;
  border-radius: 5px;
  color: $mainColor;
  &--img {
    flex: 1;
    & img {
      height: 200px;
    }
  }
  &--detail {
    flex: 1;
    & div {
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
  &--damage {
    flex: 1;
    & div {
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
}
@media (min-width: 992px) {
  .captain__inf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
