.profile {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .profile {
    display: flex;
    flex-direction: row;
    &__ship {
      flex: 1;
    }
    &__captain {
      flex: 3;
      margin-left: 20px;
    }
  }
}
