.weather {
  margin-top: 30px;
  & table {
    display: none;
    border: 1px solid $mainColor;
    color: $mainColor;
    width: 100%;
    & tr {
      border: 1px solid $mainColor;

      & th {
        padding: 5px 10px;
        border: 1px solid $mainColor;
      }
      & td {
        text-align: center;
        border: 1px solid $mainColor;
        padding: 5px 10px;
      }
    }
  }
}

@media (min-width: 992px) {
  .weather {
    & table {
      display: flex;
      justify-content: center;
    }
  }
}
