.media-image{
    background-image: url('https://barnsburydemo.files.wordpress.com/2019/09/sri-lanka-ksa66ayiqnk-unsplash.jpg') ;
    flex-grow:7.9;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
}
.card-image-1{
    background-image: url('https://barnsburydemo.files.wordpress.com/2019/09/jeshoots-com-l8nlxbhwbw0-unsplash.jpg');
    
}
.card-image-2{
    background-image: url('https://barnsburydemo.files.wordpress.com/2019/09/martin-adams-5xxfymman84-unsplash.jpg');
    
}
.card-image-3{
    background-image: url('https://barnsburydemo.files.wordpress.com/2019/09/agence-producteurs-locaux-damien-kuhn-dtbfrwd6qto-unsplash.jpg');
    
}

#footer{
    background-image: url('https://barnsburydemo.files.wordpress.com/2019/09/naseem-buras-cwpy-hpdt9q-unsplash-copy-4.jpg');
    
}