.header {
  display: flex;
  padding: 32px;
  background: $bg-primary;
  color: $gray-dark;
  font-family: 'Baloo Da 2';
  justify-content: space-between;
}
.logo {
  &__title {
    font-size: 40px;
    color: $gray-dark;
    &:hover{
      color: #0bc501e1;
      transition: all ease 1s;
    }
    & span{
      &::selection{
        background: $selected;
      }
    }
  }
  &__address {
    font-family: 'Anderson Grotesk';
    &::selection{
      background: $selected;
    }
  }
}
.menu-list {
  display: flex;
  font-size: 24px;
  &__item {
    cursor: pointer;
    &:not(:last-child){
      margin-right: 10px;
    }
    &:hover{
      color: #0bc501e1;
      transition: all ease 1s;
    }
    &::selection{
      background: $selected;
    }
  }
}
