.main {
  display: flex;
  background: $bg-main;
  color: #ffffff;
  &__info {
    flex: 1 1 50%;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &__header {
    font-family: 'Baloo Da 2';
    font-size: 48px;
    font-weight: 800;
    text-transform: capitalize;
    &::selection{
      background: $selected;
    }
    & br{
      &::selection{
        background: $selected;
      }
    }
  }
  &__description {
    font-size: 22px;
    line-height: 36px;
    font-weight: 500;
    margin-bottom: 30px;
    &::selection{
      background: $selected;
    }
  }
  &__button {
    background-color: transparent;
    color: #ffffff;
    font-weight: 900;
    font-size: 22px;
    border: 2px solid #ffffff;
    padding: 10px 16px;
    border-radius: 6px;
    &:hover{
      color: #093107e1;
      transition: all ease 1s;
      border-color: #093107e1;
    }
    &::selection{
      background: $selected;
    }
  }
  &__image {
    flex: 1 1 50%;
    background: url("https://cdn.pixabay.com/photo/2016/10/25/13/16/pumpkin-1768857_960_720.jpg") no-repeat center/cover;
  }
}
