.main {
  display: flex;
  flex-wrap: wrap;
  background: $bg-main;
  color: #ffffff;
  &__column{
    flex: 0 0 calc(100%/2);
    @media screen and (max-width: 599px) {
      flex: 0 0 calc(100%);
    }
  }
  &__info {
    padding: 100px 20px 100px 40px;
    @media screen and (max-width: 1000px) {
      padding: 50px 10px 50px 20px;
    }
  }
  &__header {
    font-family: 'Baloo Da 2';
    font-size: 48px;
    font-weight: 800;
    text-transform: capitalize;
    @media screen and (max-width: 780px) {
      font-size: 40px;
    }
  }
  &__description {
    font-size: 22px;
    line-height: 36px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  &__button {
    background-color: transparent;
    color: #ffffff;
    font-weight: 900;
    font-size: 22px;
    border: 2px solid #ffffff;
    padding: 10px 16px;
    border-radius: 6px;
    &:hover{
      color: #093107e1;
      transition: all ease 1s;
      border-color: #093107e1;
    }
  }
  &__image {
    background: url("https://cdn.pixabay.com/photo/2016/10/25/13/16/pumpkin-1768857_960_720.jpg") no-repeat center/cover;
    @media screen and (max-width: 599px) {
      height: 50vh;
      order: -1;
    }
  }
}