.section-services {
  text-align: center;
  background-color: $bg-primary;
}
.container {
}
.services {
    &__header {}
    &__pretitle {}
    &__title {}
    &__row {
      display: flex;
      margin: 0 -15px;
    }
    &__column {
      flex: 0 0 calc(100%/3);
      padding: 0 15px;
    }
}
.pretitle {
}
.title {
}
.services-item {
    &__img {
      margin-bottom: 20px;
      & img{
        max-height: 210px;
      }
    }
    &__text {
      text-align: left;
      line-height: 36px;
      font-size: 20px;
    }
}
