.aside {
  &__wrapper {
    background: rgba(189, 186, 130, 0.8);
    padding: 0 20px;
    max-width: 250px;
    padding-top: 80px;
    padding-bottom: 50px;
    height: 100%;
    @media screen and (max-width: 1000px){
      display: flex;
      align-items: center;
      margin: 0 auto;
      max-width: none;
      width: 70%;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    @media screen and (max-width: 600px){
      width: 100%;
    }
    @media screen and (max-width: 400px){
      flex-direction: column;
    }
  }
  &__filter {
    display: flex;
    justify-content: center;
    background: #719C2E;
    padding: 21px 25px;
    border: 1px solid $dark;
    max-width: 200px;
    margin-bottom: 30px;
    margin-right: 10px;
    @media screen and (max-width: 1000px){
      max-width: none;
      flex: 0 0 calc(100%/2);
      margin-bottom: 0;
    }
    @media screen and (max-width: 400px){
      flex: 0 0 calc(100%/1.5);
    }
  }
  &__accord{
    @media screen and (max-width: 1000px){
      max-width: none;
      flex: 0 0 calc(100%/2);
    }
    @media screen and (max-width: 400px){
      order: -1;
      width: 100%;
      margin-bottom: 10px;
    }
  }
  &__column {
    color: $light;
  }
  &__label {
    font-size: 20px;
    width: 100%;
  }
  &__input {
    display: block;
    width: 100%;
  }
  &__button {
    font-size: 40px;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    background: #C5DBE2;
    outline: 2px solid $dark;
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    &::after{
      content: "+";
      position: absolute;
      right: 10%
    }
    &.is_open{
      background-color: coral;
      &::after{
        content: "-";
        position: absolute;
        right: 10%
      }
    }
  }
  &__list {
    font-size: 32px;
    background: rgba(197, 219, 226, 0.7);
    max-height: 0;
    overflow: hidden;
    transition: all ease 0.3s;
    cursor: pointer;
    &-item{
      padding-left: 10px;
      transition: all ease 0.5s;
      &:hover{
        background: rgba(86, 212, 250, 0.7);
      }
    }
  }
}

