.header {
  display: flex;
  justify-content: space-between;
  background: #C5DBE2;
  &__wrapper {
    display: flex;
    font-size: 48px;
    color: $light;
    text-align: center;
    flex: 0 0 80%;
    @media screen and (max-width: 1000px){
      font-size: 24px;
    }
    @media screen and (max-width: 500px){
      font-size: 24px;
    }
    @media screen and (max-width: 400px){
      font-size: 20px;
      flex: 0 0 100%;
    }
  }
  &__logo{
    width: 100%;
    display: flex;
    justify-content: center;
    & img{
      width: 50px;
      height: 50px;
      animation: bounce 0.3s infinite alternate;
      @media screen and (max-width: 500px){
        width: 30px;
        height: 30px;
      }
      @media screen and (max-width: 400px){
        display: none;
      }
    }
  }
  &-tab{
    background-color: rgba(54%, 78%, 98%, 0.7);
    width: calc(100%/3);
    cursor: pointer;
    @media screen and (max-width: 400px){
      min-height: 40px;
    }
  }
}
.active {
  background-color: #89C7FB;
  color: $dark;
  outline:1px solid $dark;
  outline-offset:-2px;
}