.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
}

.logo {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.logo-text {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 5px;
}

.menu-item {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}

.active {
    color: green;
}

.logo-text:hover, .menu-item:hover {
    color: green;
}

@media (min-width: 461px) {
    .burger-menu {
        display: none;
    }
}

@media (max-width: 460px) {
    .menu {
        display: none;
    }

    .burger-menu {
        background-color: green;
        border: none;
        border-radius: 10%;
        height: 50px;
        width: 80px;
    }

    .burger-button-name {
        font-weight: bold;
        color: white;
        text-decoration: none;
    }
}