.section-top {
    display: flex;
}

.section-top-content {
    background-color: green;
    color: white;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-top-content-heading {
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 70px;
}

.section-top-content-text {
    font-size: 25px;
    margin-bottom: 70px;
}

.section-top-content-button {
    background-color: green;
    width: 250px;
    height: 80px;
    border: 3px solid white;
    border-radius: 5%;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.section-top-content-button:hover {
    cursor: pointer;
    border-color: #003300;
    color: #003300;
}

.section-bottom {
    margin-top: 100px;
    text-align: center;
    color: #333300;
}

.section-bottom-first-heading, .section-bottom-second-heading {
    font-weight: bold;
    margin-bottom: 30px;
}

.section-bottom-first-heading {
    font-size: 20px;
}

.section-bottom-second-heading {
    font-size: 50px;
}

.section-bottom-content {
    display: flex;
    justify-content: space-between;
    margin: 30px 120px 100px;
}

.section-bottom-content-item {
    width: 300px;
}

.section-bottom-content-item-text {
    font-size: 23px;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .section-top-content-heading, .section-top-content-text, .section-top-content-button {
        margin-bottom: 35px;
    }

    .section-bottom-content {
        margin: 30px 0 100px 0;
        display: flex;
        justify-content: space-around;
    }

    .section-bottom-content-item {
        width: 215px;
    }

    .section-bottom-content-picture {
        width: 215px;
    }
}

@media (max-width: 460px) {
    .section-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-top-content-text {
        margin-right: 10px;
    }

    .section-top-picture {
        width: 100%;
        align-self: flex-start;
    }

    .section-bottom-content {
        display: flex;
        flex-direction: column;
    }

    .section-bottom-content-item, .section-bottom-content-picture {
        width: 100%;
    }

    .section-bottom-content-item:not(:last-child) {
        margin-bottom: 20px;
    }

    .numbers {
        flex-direction: column;
        /* top: -500px; */
}