.wrapper {
  width: 100vw;
  height: 100%;
}

@font-face {
  font-family: "Anton-Regular", serif;
  src: url("../../assets/fonts/Anton-Regular.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Be Vietnam";
  src: url("../../assets/fonts/BeVietnam-Medium.ttf");
  font-weight: bold;
}
