.red {
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.red-1 {
    background-color: red;
    width: 15%;
}

.red-2 {
    background-color: red;
    width: 65%;
}

.red-3 {
    background-color: red;
    width: 15%;
}

.green {
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.green-1 {
    background-color: green;
    width: 20%;
}

.green-2 {
    background-color: green;
    width: 20%;
}

.green-3 {
    background-color: green;
    width: 45%;
}

.blue {
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
}

.blue-1 {
    background-color: blue;
    height: 10%;
}

.blue-2 {
    background-color: blue;
    height: 75%;
}

.blue-3 {
    background-color: blue;
    height: 10%;
}

.purple {
    background-color: gray;
    height: 20px;
    margin-bottom: 5px;
}

.purple-1 {
    background-color: purple;
}

.purple-1 {
    background-color: purple;
}

.purple-1 {
    background-color: purple;
}