@import "media/media";

.nav {
  display: flex;
  justify-content: flex-end;

  &__list {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 3.5rem;
    margin-bottom: 0;
    @media (max-width: $extraSmall) {
      flex-direction: column;
      align-items: flex-end;
      height: 8rem;
    }
    &-item {
      width: 30%;
      color: #fff;
      font-size: 2rem;
      text-align: center;
      margin: 0rem 0.25rem;
      transition: all 0.25s ease;
      @media (max-width: $small) {
        font-size: 1.55rem;
      }
      &.active {
        color: #ffa31a;
        padding-bottom: 10px;
        border-bottom: 1px solid #ffa31a;
        transition: all 0.25s ease;
        cursor: default;
      }
      &.inactive {
        cursor: pointer;
        opacity: 0.7;
        padding-bottom: 0;
        border-bottom: none;
        transition: all 0.25s ease;
      }
    }
  }
}
