.filter {
    position: fixed;
    left: 0;
    bottom: 180px;
}

.search,.search-div {
    display: flex;
    flex-direction: column;
}

.search-div {
    text-align: center;
}

.search-text {
    font-weight: bold;
}