.footer {
    width: 100%;
}

.footer__navigation {
    background: rgba(151, 78, 36, 0.342);
    margin: 40px 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px dashed #996633;
}

.footer__navigation > div {
    width: 40%;
    text-align: center;
}
.footer__image {
    height: 100px;
}

.footer__heading, .captain {
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
}

.captain {
    color: #996633;
}

.footer__description {
    font-size: 15px;
    font-style: inherit;
}
#tempTable {
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
}
p {
    font-size: 15px;
    font-style: inherit;
    color: #996633;
    text-align: center;
}