@import "reset.css";
@import "flex.css";
@import "barnsbury/header.css";
@import "barnsbury/sections.css";
@import "barnsbury/footer.css";

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  width: 100%;
}

.barnsbury {
  width: 100%;
  margin-top: 40px;
}
