.left-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
}

.left-menu-item {
    width: 100%;
}

.left-menu-item-button {
    font-weight: bold;
    position: relative;
    width: 100%;
    background-color: transparent;
    text-align: left;
}

.left-menu-item-button:after {
    content: '';
    position: absolute;
    right: 15px;
    bottom: 8px;
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-color: transparent #000 #000 transparent;
    transform: rotate(45deg);
    transition: border-color 0.5s ease-in-out, bottom 0.5s ease-in-out;
}

.left-menu-item-button:focus {
    outline:none;
}

.left-menu-description {
    margin-top: -2px;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.left-menu-description.active {
    height: auto;
}
