.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.9);
    z-index: 100;
}

.modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #000000;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.modal-close:hover {
    cursor: pointer;

}

.modal.open {
    display: flex;
}

.modal-card {
    position: relative;
    padding: 30px 50px;
    background-color: #fff;
}