.ship-card{
  margin: 15px;
  width: 200px;
  border: 2px solid saddlebrown;
  background-color: white;
  border-radius: 5px;

  & * {
    color: saddlebrown;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
  }

  &:hover{
    cursor: pointer;
    filter: brightness(1.2);
    border: 3px solid saddlebrown;
  }
}

.ship-img{
  width: 100%;
}

.ship-description{
  padding: 10px;

  h4{
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-decoration: underline;
  }

  p{
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
}

@media screen and (max-width: 420px){
  .ship-card{
    width: 100%;
    margin: 5px 0px;
  }

  .ship-description{
    text-align: center;                                 //

    h4{
      font-size: 1.6rem;
    }

    p{
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
  }
}
