header {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  position: fixed;
  top: 0px;

  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  font-size: 3vh;
  nav {
    margin-left: 20px;
    width: 25%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    a {
      text-decoration: none;
    }
    :hover {
      animation: jello-horizontal 2s ease-in-out infinite;
    }
  }
}

.chosen > a {
  color: red;
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
