input {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #e9eff6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
}

input[type="submit"] {
  margin-top: 30px;
  background: #f69a73;
  border-bottom: 4px solid #d87d56;
  color: white;
  font-size: 14px;
}

.form-btn {
  border-radius: 20px;
}

.form__input {
  &-error {
    border: 2px solid #cb333b;
    border-left: 12px solid #cb333b;
    transition: 0.5s ease;
  }
  &-succes {
    border: 2px solid #0a9504;
    border-left: 12px solid #0a9504;
    transition: 0.5s ease;
  }
}

.form__message {
  visibility: hidden;
  opacity: 0;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
  line-height: 40px;
  border-width: 0;
  &-error,
  &-succes {
    visibility: visible;
    opacity: 1;
  }
  &-succes {
    border: 2px solid #0a9504;
  }
  &-error {
    border: 2px solid #cb333b;
  }
}
