.main {
  display: flex;
  height: 60vh;
}

.img-block {
  position: relative;
  max-width: 50vw;

  // position: relative;
  // max-width: 50vw;
  // height: 100%;
  // background: url("../../assets/vegetables__img.jpg") 0 0 / cover no-repeat;
}

.img-block__img {
  position: relative;
  display: block;
  width: 100%;
  height: 60vh;
}

.info__wrapper {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100%;
  justify-content: center;
  background-color: #20603c;
  padding: 2em;
}

.info__title {
  display: flex;
  color: white;
  flex-wrap: wrap;
  font-size: 3.375rem;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
}
.info__descp {
  color: white;
  margin: 2em 0;
  font-size: 1.5rem;
  font-family: "Rubik", sans-serif;
  font-weight: 200;
}
.info__btn {
  position: relative;
  display: block;
  border: 2.5px solid white;
  background: none;
  border-radius: 0.5em;
  width: 10em;
  height: 3.18em;
  padding: 1em;
  color: white;
  &:hover {
    border: 2.5px solid #0e7c3e;
    color: #0e7c3e;
  }
  & > span {
    font-weight: 800;
  }
}

@media (max-width: 1200px) {
  .main {
    flex-direction: column-reverse;
  }
  .info__title {
    font-size: 2rem;
  }
  .info__descp {
    font-size: 1rem;
  }
  .img-block {
    max-height: max-content;
  }
  .img-block__img {
    width: 100vw;
  }
  .info__wrapper {
    width: 100vw;
    min-height: 40vh;
  }
}
