.part2{
  height:50px; //высота передается потомкам
  display:flex;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: lightgray;
}

.part2-block1{
  flex-grow: 2;
}

.part2-block2{
  flex-grow: 2; //маржин сюда входит?
  margin-left: 5px;
  margin-right: 5px;
}

.part2-block3{
  flex-grow: 4;
}

.green{
  background-color: green;
}
