.part4{
  height: 50px;
  display: flex;
  justify-content: flex-end;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.part4-block1{
  width: 50px;
  height:50px
}

.part4-block2{
  width: 50px;
  height:50px;
  margin-left: 5px;
  margin-right: 5px;
}

.part4-block3{
  width: 50px;
  height:50px
}

.purple{
  background-color:purple;
}
