@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #000;
  background-color: rgb(213, 247, 223);
}

/*___________________HOME.JS__________________________*/

.home__wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  max-width: 100%;
}

.img {
  width: 450px;
}

.example__form {
  display: flex;
  flex-direction: column;
}

.radio > input label {
  display: flex;
  flex-direction: column;
}

.formMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.html__content {
  position: relative;
  width: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.html__content > h1,
select,
button,
input {
  width: 450px;
  height: 50px;
}

.radio {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.radio > input {
  margin-top: 0.5em;
}

@media (max-width: 950px) {
  .home__wrapper {
    flex-direction: column;
    width: 100%;
  }
  .html__content {
    width: 100%;
  }
}
