.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.btn{
  border: 2px solid black;
  width: 200px;
  height: 80px;
  font-size: large;
  font-weight: bold;
  color: black;
  background-color: lightblue
}

.btn:hover{
  cursor: pointer;
  border-width: 3px;
}

.btn:active{
  border-width: 5px;
}

.stopBody{
  display: 'fixed';
  overflow: hidden;
}
