html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* Set font to 1rem = 10px */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-image: url(https://k60.kn3.net/taringa/9/8/5/2/0/E/Beriku/0AA.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #464646;
}

.fon_scroll {
    /* background-image: url(https://k60.kn3.net/taringa/9/8/5/2/0/E/Beriku/0AA.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.1;
    z-index: 999999; */
}

.tabs-wrapper {
    position: fixed;
}

.tabs-header {
    display: flex;
    justify-content: center;
}

.tab {
    border: 2px solid black;
    padding: 10px;
    cursor: pointer;
    /* border-bottom: none; */
    font-size: 24px;
    background-color: rgb(255, 255, 255);
}

.tab:hover {
    background-color: darkgrey;
}

.tab+.tab {
    margin-left: 10px;
}

.tab.active {
    background-color: darkorange;
}

.tabs-panels {
    font-size: 16px;
    margin-bottom: 200px;
    background-color: rgb(243 243 243 / 92%);
}

div#h1_temp {
    flex-basis: 100%;
}

.tab-panel {
    border: 2px solid black;
    display: none;
    max-width: 1000px;
    min-height: 500px;
}

.content-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0auto;
    padding: 10px;
    margin: 25px;
}

.content-body {
    display: flex;
    justify-content: center;
}

.menu-left {
    margin-right: 15px;
    font-size: 16px;
    background-color: rgb(243 243 243 / 92%);
    height: 100%;
    padding: 25px;
}

.tab-panel.active {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.min-max-flex {
    /* display: flex; */
    /* justify-content: end; */
    /* flex-wrap: wrap; */
    text-align: center;
    padding-bottom: 15px;
}

.menu-left input {
    font-size: 13px;
    padding: 6px 0 4px 10px;
    background: #F6F6f6;
    border-radius: 8px;
}

.menu-left h1 {
    text-align: center;
}

.price {
    width: 75px;
}

.ac-container {
    width: 300px;
    margin: 10px auto 30px auto;
}

.ac-container label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: 50px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    line-height: 33px;
    font-size: 19px;
    background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffffff), color-stop(100%, #eaeaea));
    background: -webkit-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -o-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -ms-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0);
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.ac-container label:hover {
    background: #fff;
}

.ac-container input:checked+label,
.ac-container input:checked+label:hover {
    background: #1e1e1f;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.ac-container input {
    display: none;
}

.ac-container article {
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container input:checked~article {
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3);
    height: 50px;
}

.ac-container article p {
    font-style: italic;
    color: #777;
    line-height: 23px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}


/* .ac-container label::after {
    content: '\2B07';
} */

.ac-container label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    /* display: inline-block; */
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    animation: i 1s infinite;
}

@keyframes i {
    0% {
        opacity: 1;
        transform: rotate(45deg) translate(-1.5px, -1.5px);
        /* transform: scaleX(-1); */
    }
    25% {
        opacity: 1;
        /* transform: scaleX(-1); */
        transform: rotate(45deg) translate(-1.5px, -1.5px);
    }
    50% {
        opacity: 1;
        transform: rotate(45deg) translate(1.5px, 1.5px);
        /* transform: scaleX(-1); */
    }
    100% {
        opacity: 1;
        transform: rotate(45deg) translate(1.5px, 1.5px);
        /* transform: scaleX(1); */
    }
}

.content-footer {
    height: 150px;
    background-color: rgb(109, 109, 109);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* opacity: 0.5; */
}

.capitan {
    width: 450px;
    font-size: 20px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.main {
    flex: 1 0 auto;
}

#ships {
    /* max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; */
}

.two {}

.hide {
    display: none!important;
}

#ships div {
    cursor: pointer;
}

#myShip {}

.shipItemStyle {
    /* float: left; */
    width: 250px;
    border: 4px solid darksalmon;
    margin: 25px;
    color: blue;
    font-size: 18px;
    padding: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-bottom: 5px;
    margin-top: 5px;
}

.modalWindow_container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0px;
    left: 0px;
    transition: opacity 0.4s;
    pointer-events: none;
    opacity: 0;
    z-index: 9999;
}

.modalWindow {
    width: 400px;
    height: 650px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: calc(50% - 390px);
    left: calc(50% - 100px);
    font-size: 16px;
    padding: 20px;
    background: #fff;
}

.hide {
    display: block;
    margin-left: auto;
}

.formSubmit {
    width: 300px;
    display: flex;
    justify-content: center;
    order: 3;
    margin: 25px;
}

.myTemp {
    order: 4;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}

.h1_temp {
    text-align: center;
}

.name {}

.name.true {
    border: 2px solid green;
}

.name.false {
    border: 2px solid red;
}

.min-max-flex {}

.flexMin {
    flex: 1 1 auto;
}

.flexMax {
    flex: 1 1 auto;
}

.tempBlock {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 15px;
}

.date {
    border: 1px solid black;
    padding: 15px;
}

.temp {
    border: 1px solid black;
    padding: 15px;
    margin-left: 15px;
}

.shipItemStyle.myCapitan {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

h1.h1_myCapitan {
    color: black;
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.formSubmit form input {
    width: 100%;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    background: #F6F6f6;
    border-radius: 8px;
}

.formSubmit form label {
    font-size: 18px;
}

.formSubmit form {
    width: 100%;
    text-align: center;
}

.formSubmit form button {
    margin-top: 5px;
    min-width: 100px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676d7;
    color: #fff;
    padding: 8px 16px;
    font-size: 2rem;
    cursor: pointer;
}

.shipItemStyle h1 {
    text-align: center;
    color: black;
}

.h1_temp {
    font-size: 24px;
}

div#tempCol {
    margin-bottom: 15px;
}

.divCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.capitan p {
    text-align: center;
}

.flex-slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.slider {
    max-width: 800px;
    width: 100%;
    max-height: 490px;
    position: relative;
    box-shadow: 10px 10px 44px -10px rgba(0, 0, 0, 0.75);
}

.switched {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
}

.slide.active {
    display: block;
}

#btn-prev,
#btn-next {
    /* position: absolute;
    left: 0;
    top: 0;
    height: 100%; */
    width: 50px;
    background-color: gray;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}

#btn-prev:hover,
#btn-next:hover {
    opacity: 0.6;
}

#btn-next {
    left: auto;
    right: 0;
    background-color: green;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.dot {}

.dot.active {
    background-color: #000;
}

.dots span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 10px;
    cursor: pointer;
}

.dots span:last-child {
    margin-right: 0;
}

input.switch {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 1em;
    width: 2em;
    font-size: 20px;
    border-radius: 1em;
    box-shadow: inset -1em 0px 0px 0px rgba(192, 192, 192, 1);
    background-color: white;
    border: 1px solid rgba(192, 192, 192, 1);
    outline: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

input.switch:checked {
    box-shadow: inset 1em 0px 0px 0px rgba(33, 150, 243, 0.5);
    border: 1px solid rgba(33, 150, 243, 1);
}

input.switch:focus {
    outline-width: 0;
}

.labelsw {
    font-size: 20px;
    align-items: center;
}

.activeShow {
    color: orange!important;
    border: 2px solid orange;
}

form.formSwitched {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-1 {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 50px;
    display: flex;
    align-self: center;
}

.arrow-1 div {
    position: relative;
    top: 20px;
    width: 70px;
    height: 10px;
    background-color: #337AB7;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    left: 0;
    display: block;
}

.arrow-1 div::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: -11px;
    right: -8px;
    background-color: #337AB7;
    transform: rotate(45deg);
}

.arrow-1 div::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: 11px;
    right: -8px;
    background-color: #337AB7;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}

.arrow-1:hover {
    animation: arrow-1 1s linear infinite;
}

@keyframes arrow-1 {
    0% {
        left: 0;
    }
    50% {
        left: 10px;
    }
    100% {
        left: 0;
    }
}

.arrow-2 {
    cursor: pointer;
    position: relative;
    /* width: 80px; */
    height: 70px;
    display: flex;
    align-self: center;
}

.arrow-2 div {
    position: relative;
    top: 20px;
    width: 70px;
    height: 10px;
    background-color: #337AB7;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    left: 0;
    display: block;
}

.arrow-2 div::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: -11px;
    left: -8px;
    background-color: #337AB7;
    transform: rotate(135deg);
}

.arrow-2 div::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: 11px;
    left: -8px;
    background-color: #337AB7;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-135deg);
}

.arrow-2:hover {
    animation: arrow-2 1s linear infinite;
}

@keyframes arrow-2 {
    0% {
        right: 0;
    }
    50% {
        right: 10px;
    }
    100% {
        right: 0;
    }
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 99;
    transition: 1s all;
    opacity: 1;
    visibility: visible;
    background: url(https://www.gifki.org/data/media/113/pirat-animatsionnaya-kartinka-0005.gif) center no-repeat;
    background-color: #110F11;
    background-position: 50% 40%;
}

.preloader span {
    color: #fff;
}

.dropbtn {
    background-color: darkorange;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
    flex-basis: 100%;
    text-align: -webkit-right;
    text-align: -moz-right;
    text-align: -o-right;
    text-align: -ms-right;
    text-align: right;
    margin: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.loader {
    width: 100%;
    height: 75px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 75px;
    text-align: center;
    font-size: 75px;
}

.done {
    opacity: 0;
    visibility: hidden;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media (max-width: 600px) {
    .menu-left {
        display: none;
    }
}

@media (max-width: 1000px) {
    .img_pirates {
        display: none;
    }
}

@media (max-width: 1300px) {
    .capitan p {
        font-size: 16px;
    }
    /* .menu-left {
        flex-basis: 55%;
    }
    .content-body {
        flex-wrap: wrap;
    } */
}