body{
  background: url(2.jpg);
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  margin: 0;
}

h1{
  font-family: "Roboto", "Arial", sans-serif;
}

.send__form{
  position: relative;
}

.video{
  width:600px;
  height: 450px;
  margin-left: 30%;
  background: #fc0;
  padding: 10px;
  margin-top: 30px;
}

.line__background{
  background-color: rgba(51,51,51,.9);
  border-top: 3px solid #f66;
  border-bottom: 3px solid #f66;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.position{
  position: relative;
}

.main{
  background-color: rgba(51,51,51,.9);
  display: inline-block;
  color: white;

  margin-left: 20%;
  margin-top: 30px;
  padding: 20px;
  vertical-align: top;
}

.lunch__block{
  vertical-align: top;
  background-color: rgba(51,51,51,.9);
  display: inline-block;
  color: white;
  margin-top: 30px;
  margin-left: 60px;
  padding: 40px 40px 78px 40px;
}

.menu__select{
  vertical-align: top;
  background-color: rgba(51,51,51,.9);
  display: inline-block;
  color: white;
  padding: 70px 70px 258px 70px;
  margin-top: 30px;
  margin-left: 60px;
}

.centre{
  margin-left: 37%;
}

.button__reset {
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: rgb(212,75,56);
  padding: .7em 1.5em;
  outline: none;
}

.button__reset:hover{
  background: rgb(232,95,76);
}

.button__reset:active{
  background: rgb(152,15,0);
}

.button__send {
  margin-left: 90px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .7em 1.5em;
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
}

.button__send:hover{
  background: rgb(53, 167, 110);
}

.button__send:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
